<!DOCTYPE html>
{% load static %}
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <title>AI 외모순위 테스트</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Jua&amp;display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light nav-distance">
        <!-- <a class="navbar-brand" href="#">인공지능 얼굴순위 BETA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
    </nav>
    <section class="section">
        <h1 class="title">인공지능 얼굴순위 테스트</h1>
    </section>

    <h3 class="pb-2 d-flex justify-content-center">성별을 선택하세요</h3>
    <section class="d-flex justify-content-center">
        <p class="d-flex align-items-center pr-3">여자</p>
        <div>
            <input type="checkbox" id="gender">
            <label for="gender">
                <span class="knob">
                    <i></i>
                </span>
            </label>
        </div>
        <p class="d-flex align-items-center pl-3">남자</p>
    </section>
    {% csrf_token %}
    <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <div class="container file-upload">
        <div class="image-upload-wrap">
            <input class="file-upload-input" type="file" onchange="readURL(this);" accept="image/*" />
            <div class="word" style ='display : none;'>LOADING...</div>
            <div class="overlay"></div>
            <div class="drag-text">
                <img src="{% static 'img/upload.svg' %}" class="mt-5 pt-5 upload" />
                <h3 class="mb-5 pb-5 pt-4 upload-text">
                    얼굴 사진을 올려놓거나 눌러서 업로드하세요!
                </h3>
            </div>
        </div>
        <div class="file-upload-content">
            <img class="file-upload-image" id="face-image" src="#" alt="your image" />
            <div class="image-title-wrap">
                <button type="button" onclick="removeUpload()" class="remove-image">
                    Remove
                    <span class="image-title">Uploaded Image</span>
                </button>
            </div>
        </div>
    </div>
    <ins class="kakao_ad_area" style="display:none;" 
        data-ad-unit    = "DAN-YX7P1mEyOVylQi2L" 
        data-ad-width   = "320" 
        data-ad-height  = "100">
    </ins> 
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@0.8/dist/teachablemachine-image.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.6.1/jquery.lettering.min.js"></script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.image-upload-wrap').hide();
                    $('.file-upload-image').attr('src', e.target.result);
                    $('.file-upload-content').show();
                    $('.image-title').html(input.files[0].name);
                };
                reader.readAsDataURL(input.files[0]);
                console.log(input.files[0]);
                sendPicture();
            } else {
                removeUpload();
            }
        }

        function removeUpload() {
            $('.file-upload-input').replaceWith($('.file-upload-input').clone());
            $('.file-upload-content').hide();
            $('.image-upload-wrap').show();
        }
        $('.image-upload-wrap').bind('dragover', function () {
            $('.image-upload-wrap').addClass('image-dropping');
        });
        $('.image-upload-wrap').bind('dragleave', function () {
            $('.image-upload-wrap').removeClass('image-dropping');
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        // More API functions here:
        // https://github.com/googlecreativelab/teachablemachine-community/tree/master/libraries/image
        // the link to your model provided by Teachable Machine export panel
        const URL = 'https://teachablemachine.withgoogle.com/models/o9D1N5TN/';
        let model, webcam, labelContainer, maxPredictions;

        function sendPicture() {
            var src = jQuery('#face-image').attr('src');
            //alert(src);
            $.ajax({
                url: "{%url 'getResult'%}",
                type: 'POST',
                data: { 'search_key': src, csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(), },
                success: function (data) {
                    var str = '';
                    alert('ajax통신성공!!');
                    //alert(data);
                    
                    //alert(str)
                    $('#example').html('<ul>' + str + '</ul>');
                    $('#face-image').attr('src', 'data:image/jpeg;base64,' + data.src);
                },
                error: function (request, status, error) { // 통신 실패시 - 로그인 페이지 리다이렉트
                    alert("ajax통신실패...")
                    //alert(error)
                    //alert(request)
                    //  alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                },
            })
        }
    </script>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>
    <script>
        /* Lettering.JS 0.6.1 by Dave Rupert  - http://daverupert.com */
        (function ($) {
            
            function injector(t, splitter, klass, after) {
                var a = t.text().split(splitter),
                    inject = "";
                if (a.length) {
                    $(a).each(function (i, item) {
                        inject += '<span class="' + klass + (i + 1) + '">' + item + "</span>" + after;
                    });
                    t.empty().append(inject);
                }
            }
            var methods = {
                init: function () {
                    return this.each(function () {
                        injector($(this), "", "char", "");
                    });
                },
                words: function () {
                    return this.each(function () {
                        injector($(this), " ", "word", " ");
                    });
                },
                lines: function () {
                    return this.each(function () {
                        var r = "eefec303079ad17405c889e092e105b0";
                        injector($(this).children("br").replaceWith(r).end(), r, "line", "");
                    });
                },
            };
            $.fn.lettering = function (method) {
                if (method && methods[method]) {
                    return methods[method].apply(this, [].slice.call(arguments, 1));
                } else if (method === "letters" || !method) {
                    return methods.init.apply(this, [].slice.call(arguments, 0));
                }
                $.error("Method " + method + " does not exist on jQuery.lettering");
                return this;
            };
        })(jQuery);
        function Ticker(elem) {
            elem.lettering();
            this.done = false;
            this.cycleCount = 5;
            this.cycleCurrent = 0;
            this.chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890!@#$%^&*()-_=+{}|[]\\;\':"<>?,./`~'.split('');
            this.charsCount = this.chars.length;
            this.letters = elem.find('span');
            this.letterCount = this.letters.length;
            this.letterCurrent = 0;

            this.letters.each(function () {
                var $this = $(this);
                $this.attr('data-orig', $this.text());
                $this.text('-');
            });
        }

        Ticker.prototype.getChar = function () {
            return this.chars[Math.floor(Math.random() * this.charsCount)];
        };

        Ticker.prototype.reset = function () {
            this.done = false;
            this.cycleCurrent = 0;
            this.letterCurrent = 0;
            this.letters.each(function () {
                var $this = $(this);
                $this.text($this.attr('data-orig'));
                $this.removeClass('done');
            });
            this.loop();
        };

        Ticker.prototype.loop = function () {
            var self = this;

            this.letters.each(function (index, elem) {
                var $elem = $(elem);
                if (index >= self.letterCurrent) {
                    if ($elem.text() !== ' ') {
                        $elem.text(self.getChar());
                        $elem.css('opacity', Math.random());
                    }
                }
            });

            if (this.cycleCurrent < this.cycleCount) {
                this.cycleCurrent++;
            } else if (this.letterCurrent < this.letterCount) {
                var currLetter = this.letters.eq(this.letterCurrent);
                this.cycleCurrent = 0;
                currLetter.text(currLetter.attr('data-orig')).css('opacity', 1).addClass('done');
                this.letterCurrent++;
            } else {
                this.done = true;
            }

            if (!this.done) {
                requestAnimationFrame(function () {
                    self.loop();
                });
            } else {
                setTimeout(function () {
                    self.reset();
                }, 750);
            }
        };

        $words = $('.word');

        $words.each(function () {
            
            var $this = $(this),
                ticker = new Ticker($this).reset();
            $this.data('ticker', ticker);
        });
    </script>
</body>
<!-- Copyright (c) 2020 by Aaron Vanston (https://codepen.io/aaronvanston/pen/yNYOXR)
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 -->

</html>


